body{
    margin:0;
    height: 100%;
    font-family:"Helvetica", sans-serif;
    background-color: black;
    color:white;
    margin-top: 2em;
}



#name{
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

#profile_mid{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

#profile_pic{
    flex-grow: 0.8;
    margin-left: 0.7em;
}

.profile_num{
    margin-top: 2.7em;
    margin-left:2em;
    margin-right: 3em;
    font-size:0.8em;
    flex-grow: 1.2;
    display: flex;
    justify-content: space-between;
}

#bio{
    margin-left:1em;
    margin-top: -0.5em;
    font-size:0.9em;
}



.post{
    margin-top: 1em;
    margin-left: 1em;
    font-size: 0.85em;
}

.user_info{
    padding-bottom: 0.4em;
    padding-left: 0.7em;
    display: flex;

}

.profile_small{
    display: inline-block;
}
.info_text{
    display: inline-block;
}

p{
    margin-block-start: 0.3em;
    margin-block-end: 0.1em;
}

.post_time{
    padding-top: 0.2em;
    font-size:0.6em;
    color:gray;
}

.caption p{
    display: inline-block;
    padding-right: 0.3em;
}
#replacable{
    display:inline-block;
}